<div class="container">
<h3>Achievements</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		{% for year_hash in site.data.events %}
		{% assign year = year_hash[1] %}
			<h3><strong>{{ year.year }}</strong></h3>
			<div class="row" style="border-top: 1px solid black; border-bottom: 1px solid black">
					<div class="col-sm-3 col-md-3 col-lg-3">
						<h5 style="text-align: left">
							<strong>Rank</strong>
						</h5>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-6">
						<h5 style="text-align: left">
							<strong>Name</strong>
						</h5>
					</div>
					<div class="col-sm-3 col-md-3 col-lg-3">
						<h5 style="text-align: left">
							<strong>Points</strong>
						</h5>
					</div>
			</div>
			{% for event in year.events %}
			<div class="row">
					<div class="col-sm-3 col-md-3 col-lg-3">
						<h5 style="text-align: left">
							{{ event.placing }}
						</h5>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-6">
						<h5 style="text-align: left">
							{{ event.name }}
						</h5>
					</div>
					<div class="col-sm-3 col-md-3 col-lg-3">
						<h5 style="text-align: left">
							{{ event.points }}
						</h5>
					</div>
			</div>
			{% endfor %}
			<hr/>
		{% endfor %}
	</div>
  </div>
</div>