<div class="container">
    <h3>Members</h3>
    <table>
        <tbody>
            {% for member in site.data.members %}
            <tr>
                <td style="text-align: center"><img src="static/img/members/{{ member.img }}" alt="" height=130px/></td>
                <td style="text-align: left; padding-left: 32px">
                    <h3><strong>{{ member.name }}</strong></h3>
                    {% for skill in member.skills %}
                    <code>{{ skill }}</code>
                    {% endfor %}
                    {% if member.desc %}
                    <h4>{{ member.desc }}</h4>
                    {% endif %}
                    {% if member.url %}
                        {% if member.url contains "http" %}
                            <a href="{{ member.url }}">{{ member.url }}</a>
                        {% else %}
                            <a href="https://{{ member.url }}">{{ member.url }}</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/>
    <br/>
    <hr/>
</div>